<?xml version='1.0' encoding='utf-8'?>
<widget id="com.h4ckademy.camera" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Camera</name>
    <description>
        Una aplicación simple de PhoneGap que usa la cámara y aplica filtros a la imagen resultante
    </description>
    <author email="h4@h4ckademy.com" href="http://h4ckademy.com">
        h4ckademy
    </author>

    <content src="index.html" />
    <access origin="*" />

    <plugin name="cordova-plugin-camera" source="npm" spec="~2.1.1" />
    <plugin name="cordova-plugin-media-capture" source="npm" spec="~1.2.0" />
    <plugin name="cordova-plugin-device" source="npm" spec="~1.1.1" />
    <plugin name="cordova-plugin-file" source="npm" spec="~4.1.1" />
    <plugin name="cordova-plugin-file-transfer" source="npm" spec="~1.5.0" />
    <plugin name="cordova-plugin-media" source="npm" spec="~2.2.0" />
    <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1" />    
</widget>
